<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center lg:-mt-24">
    <div class=" px-6 py-6 sm:py-6 lg:px-8 ">
      <div class="mx-auto w-full ">
        <h2 class="w-full text-4xl p-8 bg-neutral-800 bg-opacity-75 font-light tracking-tight text-white sm:text-6xl">Artists</h2>
        <p class="mt-1 w-full text-lg p-4 font-extralight bg-brown-900 bg-opacity-75 leading-8 text-gray-300 ">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
      </div>
    </div>
  </div>

  <div id="artists" class="min-w-full">
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <%= render @artists %>
    </ul>
  </div>
</div>
