<div class="mx-auto md:w-2/3 w-full bg-cream-50 p-4 rounded">
  <h1 class="font-bold text-4xl">Editing visual work</h1>

  <%= render "form", visual_work: @visual_work %>

  <%= link_to "Show this visual work", @visual_work, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to visual works", visual_works_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
