<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center mb-2 -mt-24">
    <div class=" px-6 py-6 sm:py-6 lg:px-8 ">
      <div class="mx-auto w-full ">
        <h2 class="w-full  p-8 bg-neutral-800 bg-opacity-75 font-extralight tracking-tight text-white text-2xl lg:text-6xl">Visual Works</h2>
        <p class="mt-1 w-full  p-4 font-extralight bg-brown-900 bg-opacity-75 leading-8 text-gray-300 text-sm lg:text-lg">A collection of visual works, inspired by Exodus, created by the people of Golden Hlls Community Church.</p>
      </div>
    </div>
    <% if admin_signed_in? %>
      <%= link_to new_visual_work_path do %>
        <button type="button" class="rounded-full bg-blue-600 p-2 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          <svg class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
          </svg>
        </button>
      <% end %>
    <% end %>
  </div>


  <div id="visual_works" class="min-w-full ">
    <ul role="list" class="justify-stretch grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-8 ">
    <%= render @visual_works %>
    </ul>
  </div>
</div>
