<div>
  <h1 class="font-bold text-4xl">GHCC Art Ministry</h1>

  <p>Our Purpose Is to glorify God by making disciples who will impact every area of the world for Christ through art.</p>

  <div id="visual_works" class="min-w-full">
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <%= render @visual_works %>

      <!-- More people... -->
    </ul>

  </div>
</div>
