
<div class="text-center align-middle">
  <div class="lg:-mt-20 text-lg leading-8 opacity-80"><%= image_tag('title.webp', width: '100%', height: '500px') %></div>
  <span class="mt-10 isolate inline-flex rounded-md shadow-sm hidden lg:block">
    <%= link_to "Artists", artists_path, class: "relative inline-flex items-center rounded-l-md bg-brown-900 opacity-75 px-3 py-2 text-2xl font-extralight text-cream-100  hover:bg-gray-500 focus:z-10" %>
    <%= link_to "Visual", visual_works_path, class: "relative -ml-px inline-flex items-center bg-brown-900 opacity-75 px-3 py-2 text-2xl font-extralight text-cream-100   hover:bg-gray-500 focus:z-10" %>
    <button type="button" class="relative -ml-px inline-flex items-center bg-brown-900 opacity-75 px-3 py-2 text-2xl font-extralight text-cream-100   hover:bg-gray-500 focus:z-10">Poetry</button>
  <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-brown-900 opacity-75 px-3 py-2 text-2xl font-extralight text-cream-100  hover:bg-gray-500 focus:z-10">Music</button>
</span>

</div>